{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <img class="destination-image" src="{{ destination.destination_image }}" alt="Profile">
    </div>


    {% if request.user == destination.author %}
        <div class="destination-actions">
            <!-- Edit button -->
            <a href="{% url 'edit destination' destination.slug %}">
                <button>Edit</button>
            </a>

            <!-- Delete button -->
            <a href="{% url 'delete destination' destination.slug %}">
                <button>Delete</button>
            </a>
        </div>
    {% endif %}
    <div class="destination-info">
        <div>
            <p>Name: {{ destination.name }}</p>
            <p>Type: {{ destination.type }}</p>
            <p>Location: {{ destination.location }}</p>
            <p>Description: {{ destination.description }}</p>
            <p>Created on: {{ destination.created }}</p>
            <p>Last Update: {{ destination.updated }}</p>
        </div>
    </div>

    {% if related_photos %}
        <div class="destination-related-photos">
            <h3>User-submitted photos:</h3>
            <div class="photo-grid">
                {% for photo in related_photos %}
                    <a href="{% url 'photo page' photo.id %}">
                        <img src="{{ photo.photo }}" alt="{{ photo.location }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}