{% extends 'base.html' %}
{% block content %}
    <h1 class="article-title">{{ article.title }} </h1>
    <div>
        <img src="{{ article.article_image }}" alt="Profile" class="article-image">
    </div>

    {% if request.user == article.author %}
        <div class="article-actions">
            <!-- Edit button -->
            <a href="{% url 'edit article' article.slug %}">
                <button class="btn btn-edit">Edit</button>
            </a>

            <!-- Delete button -->
            <a href="{% url 'delete article' article.slug %}">
                <button class="btn btn-delete">Delete</button>
            </a>
        </div>
    {% endif %}
    <div class="destination-and-article-details">

        <div>
            <p>{{ article.body }}</p>
            <p>Author: {{ article.author }}</p>
            <p>Created on: {{ article.created }}</p>
            <p>Last Update: {{ article.updated }}</p>
        </div>


    </div>
    <h2 class="article-tagged-destinations">Tagged Destinations:</h2>
    <ul class="tagged-destinations">

        {% for tag in article.tagged_destinations.all %}
            <li>
                <div>
                    <a href="{% url 'destination details' tag.slug %}" class="destination-name">{{ tag.name }}
                        <div>
                            <img src="{{ tag.destination_image }}" alt="Destination Image"
                                 class="destination-article-image">
                        </div>
                    </a>
                </div>

            </li>
        {% endfor %}
    </ul>
{% endblock %}