{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="add-photo-dest-art-button">
        <a href="{% url 'add photo' %}">
                <button>Add Destination</button>
            </a>
        </div>
        <hr>
    {% endif %}

    {% if not destinations %}
        <h1 class="no-destinations">No destinations yet</h1>
    {% else %}
        <section id="catalogue">
            {% for destination in destinations %}
                <div class="destination-card">
                    <div class="image-wrap">
                        <img src="{{ destination.destination_image }}" alt="{{ destination.name }}">
                    </div>
                    <div class="destination-info">
                        <h3>Name: {{ destination.name }}</h3>
                        <h3>Type: {{ destination.type }}</h3>
                        <h3>Author: {{ destination.author }}</h3>
                    </div>
                    <div class="details-buttons">
                        <a href="{% url 'destination details' destination.slug %}" class="details-btn">Read more...</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}