{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="add-photo-dest-art-button">
        <a href="{% url 'add article' %}">
                <button>Add Article</button>
            </a>
        </div>
        <hr>

    {% endif %}
    {% if not articles %}
        <h1 class="no-articles">No articles yet</h1>
    {% else %}
        <section id="catalogue">
            {% for article in articles %}
                <div class="article-card">
                    <div class="image-wrap">
                        <img src="{{ article.article_image }}" alt="{{ article.title }}">
                    </div>
                    <div class="article-info">
                        <h1>{{ article.title }}</h1>
                        <h4>{{ article.body|truncatechars:200 }}</h4>
                    </div>
                    <div class="details-buttons">
                        <a href="{% url 'article details' article.slug %}" class="details-btn">Read more...</a>
                    </div>
                </div>
            {% endfor %}
        </section>

    <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ articles.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>

            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}">next</a>
                <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% endif %}
{% endblock %}