{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="add-photo-dest-art-button">
        <a href="{% url 'add photo' %}">
                <button>Add Photo</button>
            </a>
        </div>
        <hr>
    {% endif %}

    {% if not photos %}
        <h1 class="no-photos">No photos yet</h1>
    {% else %}
        <section id="catalogue">
            {% for photo in photos %}
                <div class="photo-card">
                    <a href="{% url 'photo page' photo.id %}">
                        <div class="image-wrap">
                            <img src="{{ photo.photo }}" alt="{{ photo.location }}">
                        </div>
                    </a>

                </div>
            {% endfor %}
        </section>

         <!-- Pagination controls -->
    <div class="pagination">
        <span class="step-links">
            {% if photos.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ photos.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
            </span>

            {% if photos.has_next %}
                <a href="?page={{ photos.next_page_number }}">next</a>
                <a href="?page={{ photos.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% endif %}
{% endblock %}