{% extends 'base.html' %}
{% block content %}
    {% if not photos %}
        <h1 class="no-photos">No photos yet</h1>
    {% else %}
        <section id="catalogue">
            {% for photo in photos %}
                <div class="photo-card">
                    <a href="{% url 'photo page' photo.id %}">
                        <div class="image-wrap">
                            <img src="{{ photo.photo }}" alt="{{ photo.location }}">
                        </div>
                    </a>

                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}