{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- headlines -->
    <p class="no-articles">No destinations yet</p>
    <!-- Display div "destination" with information about every destination (if any)-->
    <section id="catalogue">
        <!-- first destination-->
        <div class="destination-card">
            <div class="image-wrap">
                <!-- destination image -->
                <img src="{% static 'images/default-profile-picture.png' %}"
                     alt="Destinations">
            </div>
            <!-- destination name -->
            <h1>Destination Name</h1>
            <!-- destination type -->
            <h3>Destination Type</h3>
            <div class="details-buttons">
                <!-- destination details button -->
                <a href="#" class="details-btn">See more...</a>
            </div>
        </div>

    </section>

    <!-- headlines -->
    <p class="no-articles">No articles yet</p>
    <!-- Display div "article" with information about every article (if any)-->
    <section id="catalogue">
        <!-- first article-->
        <div class="article-card">
            <div class="image-wrap">
                <!-- article image -->
                <img src="{% static 'images/default-profile-picture.png' %}"
                     alt="Articles">
            </div>
            <!-- Article headline -->
            <h1>Article Title</h1>
            <p>Article text limited to 50 characters...</p>
            <div class="details-buttons">
                <!-- articles details button -->
                <a href="#" class="details-btn">See more...</a>
            </div>
        </div>

    </section>

{% endblock %}