{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% if not destinations %}
        <p class="no-destinations">No destinations yet</p>
    {% else %}
        <section id="home-page-catalogue">
            <h3>Recently added destinations:</h3>
            {% for destination in destinations %}
                <div class="home-page-destination-card">
                    <div class="home-page-image-wrap">
                        <!-- destination image -->
                        <img src="{{ destination.destination_image }}"
                             alt="Destinations">
                    </div>
                    <!-- destination name -->
                    <h3>{{ destination.name }}</h3>
                    <!-- destination type -->

                </div>
            {% endfor %}
            <div class="details-buttons">
                <!-- destination details button -->
                <a href="{% url 'browse destinations' %}" class="details-btn">Browse more...</a>
            </div>

        </section>
    {% endif %}

    {% if not articles %}
        <p class="no-articles">No articles yet</p>
    {% else %}
        <section id="home-page-catalogue">
            <h3>Last added article:</h3>
            {% for article in articles %}
                <div class="home-page-article-card">
                    <div class="home-page-image-wrap">
                        <!-- article image -->
                        <img src="{{ article.article_image }}"
                             alt="Articles">
                    </div>
                    <!-- Article headline -->
                    <h1>{{ article.title }}</h1>
                    <p>{{ article.body|truncatechars:250 }}</p>

                </div>
            {% endfor %}
            <div class="details-buttons">
                <!-- articles details button -->
                <a href="{% url 'browse articles' %}" class="details-btn">Browse more...</a>
            </div>
        </section>
    {% endif %}

    {% if not photos %}
        <p class="no-articles">No photos yet</p>
    {% else %}
        <section id="home-page-catalogue">
            <h3>Recently added photos by users:</h3>
            {% for photo in photos %}
                <div class="home-page-photo-card">
                    <div class="home-page-image-wrap">
                        <!-- article image -->
                        <img src="{{ photo.photo }}"
                             alt="Photos">
                    </div>

                </div>
            {% endfor %}
            <div class="details-buttons">
                <!-- articles details button -->
                <a href="{% url 'browse gallery' %}" class="details-btn">Browse more...</a>
            </div>
        </section>
    {% endif %}

{% endblock %}