{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="introduction">
        <div class="centered-content">
            <h1>Welcome to the Bulgarian Tourist Guide!</h1>
            <h1>Unveil the Hidden Gem of the Balkans!</h1>
            <p> Experience the allure of Bulgaria, a breathtaking land brimming with diverse landscapes, rich history,
                and warm
                hospitality. From the magnificent peaks of the Rila Mountains to the sun-kissed beaches of the Black
                Sea, our
                country boasts a captivating blend of nature, culture, and adventure. Discover enchanting medieval towns
                nestled
                amidst rolling hills, explore ancient ruins that whisper tales of civilizations past!</p>

            <h2>Choose your adventure now!</h2>
        </div>
    </div>

    {% if not destinations %}
        <p class="no-destinations">No destinations yet</p>
    {% else %}
        <section id="home-page-catalogue">
            <h3>Recently added destinations:</h3>
            <div class="item-container">
                {% for destination in destinations %}
                    <div class="home-page-destination-card">
                        <a href="{% url 'destination details' destination.slug %}">
                            <div class="home-page-image-wrap">
                                <img src="{{ destination.destination_image }}"
                                     alt="Destinations">
                            </div>
                        </a>
                        <h3>{{ destination.name }}</h3>

                    </div>
                {% endfor %}
            </div>

        </section>
    {% endif %}

    {% if not articles %}
        <p class="no-articles">No articles yet</p>
    {% else %}
        <section id="home-page-catalogue">
            <h3>Recently added articles:</h3>
            <div class="item-container">
                {% for article in articles %}
                    <div class="home-page-article-card">
                        <a href="{% url 'article details' article.slug %}">
                            <div class="home-page-image-wrap">
                                <img src="{{ article.article_image }}"
                                     alt="Articles">
                            </div>
                        </a>

                        <h1>{{ article.title }}</h1>
                        <p>{{ article.body|truncatechars:150 }}</p>

                    </div>
                {% endfor %}
            </div>

        </section>
    {% endif %}

    {% if not photos %}
        <p class="no-articles">No photos yet</p>
    {% else %}
        <section id="home-page-catalogue">
            <h3>Recently added photos by users:</h3>
            <div class="item-container">
                {% for photo in photos %}
                    <div class="home-page-photo-card">
                        <div class="home-page-image-wrap">
                            <a href="{% url 'photo page' photo.id %}">
                                <img src="{{ photo.photo }}"
                                     alt="Photos">
                            </a>

                        </div>

                    </div>
                {% endfor %}
            </div>

        </section>
    {% endif %}

{% endblock %}