{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>Bulgarian Tourism Guide</title>
</head>

<body>
    <div id="box">
        <header>
            <nav>
                <img src="{% static 'images/bg-tourism-logo.jpg' %}" alt="Bulgarian Logo" class="logo">
                <a href="{% url 'index' %}">Home</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'user details' pk=user.id %}">{{ request.user }}</a>
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'browse gallery' %}">Gallery</a>
                    <a href="{% url 'browse destinations' %}">Browse Destinations</a>
                    <a href="{% url 'browse articles' %}">Browse Articles</a>

                {% else %}
                    <a href="{% url 'user create' %}">Create Profile</a>
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'browse gallery' %}">Gallery</a>
                    <a href="{% url 'browse destinations' %}">Browse Destinations</a>
                    <a href="{% url 'browse articles' %}">Browse Articles</a>
                {% endif %}
            </nav>
        </header>

        {% block content %}
        {% endblock %}
    </div>
</body>

<footer class="site-footer">
    <div class="footer-container">
        <div class="social-icons">
            <a href="https://github.com/Funcrow1349" target="_blank" class="social-icon">
                <img src="{% static 'images/github_PNG40.png' %}" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/ivaylo-ivanov-55987b150/" target="_blank" class="social-icon">
                <img src="{% static 'images/linkedin.png' %}" alt="LinkedIn">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100000479952533" target="_blank" class="social-icon">
                <img src="{% static 'images/f_logo_RGB-Blue_1024.png' %}" alt="Facebook">
            </a>
        </div>
        <p>&copy; 2023 Ivaylo Ivanov. All rights reserved.</p>
    </div>
</footer>

</html>