body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-image: url(../images/wp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b8e0c9;
    padding: 10px;
    border-radius: 15px;
}

nav a {
    color: #022d4d;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #c8fcd1;
    border-radius: 15px;
}

section#catalogue {
    display: flex;
    justify-content: space-between;
}

.destination-card,
.article-card {
    width: 300px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
    box-shadow: 0 2px 6px rgba(93, 115, 97, 0.31);
    border-radius: 15px;
    background-color: rgba(94, 164, 232, 0.66);
}

.image-wrap {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.destination-info h3,
.article-info h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #022d4d;
}

.destination-info h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #022d4d;
}

.article-info h4 {
    font-size: 14px;
    color: #022d4d;
}

.details-buttons .details-btn {
    display: inline-block;
    background-color: #b8e0c9;
    color: #fff;
    padding: 8px 12px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.details-buttons .details-btn:hover {
    background-color: #2980b9;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-info img {
    width: 200px;
    height: 200px;
    border-radius: 25%;
    margin-right: 40px;
    object-fit: cover;
}

.profile-info div {
    max-width: 400px;
}

.profile-info p {
    margin-bottom: 5px;
    font-size: 25px;
    font-style: oblique;
    color: #022d4d;
}

.profile-actions {
    display: flex;
    margin-top: 10px;
}

.profile-actions button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.destinations-by-user,
.articles-by-user,
.photos-by-user {
    margin-bottom: 30px;
}

.destinations-by-user h3,
.articles-by-user h3,
.photos-by-user h3 {
    margin-bottom: 10px;
    color: #022d4d;
}

.destinations-by-user ul,
.articles-by-user ul,
.photos-by-user ul {
    list-style: inside;
    color: #022d4d;
}

.destinations-by-user li,
.articles-by-user li {
    margin-bottom: 5px;
    color: #022d4d;
}

.destinations-by-user a,
.articles-by-user a {
    text-decoration: none;
    color: #022d4d;
}

.photos-by-user h3 {
    margin-bottom: 10px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.photo-item {
    border-radius: 5px;
    overflow: hidden;
}

.photo-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b8e0c9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #022d4d;
}

form input[type="text"],
form input[type="password"],
form select,
form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #69a7e1;
    border-radius: 10px;
    background: aliceblue;
}

form .btn.submit {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form .btn.submit:hover {
    background-color: #2980b9;
}

form#register-page,
form#edit-profile-page,
form#add-destination-page,
form#add-article-page,
form#edit-article-page,
form#edit-destination-page,
form#add-photo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 55px;
    height: 45px;
    margin-right: 5px;
    border-radius: 15px;
}

.article-image,
.destination-image {
    width: 500px;
    height: 300px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 15px;
}

.destination-and-article-details p {
    font-size: 17px;
    margin-bottom: 10px;
    color: #022d4d;
}

.article-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #022d4d;
    text-align: start;
}

.article-actions,
.destination-actions {
    display: flex;
    margin-top: 10px;
}

.article-actions button,
.destination-actions button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.article-tagged-destinations {
    color: #022d4d;
}

.tagged-destinations {
    list-style: circle;
    color: #022d4d;
}

.tagged-destinations li {
    margin-bottom: 20px;
    color: #022d4d;
}

.tagged-destinations img {
    height: 100px;
    width: 130px;
}


.destination-name {
    text-decoration: none;
    color: #022d4d;
}


#delete-account-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#delete-account-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#delete-account-page p {
    margin-bottom: 15px;
}

#delete-account-page form input[type="submit"],
#delete-account-page form a.btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

#delete-account-page form input[type="submit"].btn-danger {
    background-color: #d9534f;
    color: #fff;
    border: none;
}

#delete-account-page form input[type="submit"].btn-danger:hover {
    background-color: #c9302c;
}

#delete-account-page form a.btn.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    margin-left: 10px;
}

#delete-account-page form a.btn.btn-secondary:hover {
    background-color: #5a6268;
}

#delete-destination-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#delete-destination-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#delete-destination-page p {
    margin-bottom: 15px;
}

#delete-destination-page form input[type="submit"],
#delete-destination-page form a.btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

#delete-destination-page form input[type="submit"].btn-danger {
    background-color: #d9534f;
    color: #fff;
    border: none;
}

#delete-destination-page form input[type="submit"].btn-danger:hover {
    background-color: #c9302c;
}

#delete-destination-page form a.btn.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    margin-left: 10px;
}

#delete-destination-page form a.btn.btn-secondary:hover {
    background-color: #5a6268;
}

#delete-article-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#delete-article-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#delete-article-page p {
    margin-bottom: 15px;
}

#delete-article-page form input[type="submit"],
#delete-article-page form a.btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

#delete-article-page form input[type="submit"].btn-danger {
    background-color: #d9534f;
    color: #fff;
    border: none;
}

#delete-article-page form input[type="submit"].btn-danger:hover {
    background-color: #c9302c;
}

#delete-article-page form a.btn.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    margin-left: 10px;
}

#delete-article-page form a.btn.btn-secondary:hover {
    background-color: #5a6268;
}

#delete-photo-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#delete-photo-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#delete-photo-page p {
    margin-bottom: 15px;
}

#delete-photo-page form input[type="submit"],
#delete-photo-page form a.btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

#delete-photo-page form input[type="submit"].btn-danger {
    background-color: #d9534f;
    color: #fff;
    border: none;
}

#delete-photo-page form input[type="submit"].btn-danger:hover {
    background-color: #c9302c;
}

#delete-photo-page form a.btn.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    margin-left: 10px;
}

#delete-photo-page form a.btn.btn-secondary:hover {
    background-color: #5a6268;
}


.photo_detail_image-container {
    max-width: 100%;
    overflow: hidden;
}

.photo_detail_image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.photo_detail_image-container p {
    text-decoration: whitesmoke;
    color: #022d4d
}

.photo_detail_image-container h3 {
    text-decoration: whitesmoke;
    color: #022d4d
}



.comment-wrapper {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.comment-wrapper h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #022d4d;
}

.comment-wrapper h4 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #022d4d;
}

.comment-wrapper div {
    margin-bottom: 10px;
}

.comment-wrapper small {
    color: #022d4d;
}

.comment-wrapper hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #090909;
}

.photo_detail_page_add_comment-container form {
    margin-top: 20px;
    max-width: 1170px;
}

.photo_detail_page_add_comment-container form input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.photo_detail_page_add_comment-container form input[type="submit"]:hover {
    background-color: #2980b9;
}

.add-photo-dest-art-button {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.add-photo-dest-art-button a {
    text-decoration: none;
}

.add-photo-dest-art-button button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    align-self: center;
}

.add-photo-dest-art-button button:hover {
    background-color: #2980b9;
}



section#catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
}

.photo-card {
    width: calc(33.33% - 20px);
    margin: 10px;
    margin-top: 15px;
}

.destination-related-photos {
    margin-top: 30px;
}

.destination-related-photos h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #022d4d;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.photo-grid a {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height: 200px;
}

.photo-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
}

.photo-grid a:hover img {
    transform: scale(1.1);
}

.photo-grid img {
}

.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
}

.photo-card a:hover img {
    transform: scale(1.1);
    border-radius: 5px;
}

.photo-card img {
}


.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-page-destination-card,
.home-page-article-card {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(93, 115, 97, 0.31);
    border-radius: 15px;
    background-color: rgba(94, 164, 232, 0.66);
}

.home-page-photo-card {
    width: 300px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(93, 115, 97, 0.31);
}

.home-page-photo-card a:hover img {
    transform: scale(1.1);
    border-radius: 15px;
}

.home-page-image-wrap {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}

.home-page-image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.home-page-destination-card h3,
.home-page-article-card h1 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #022d4d;
    text-align: center;
}

.home-page-article-card p {
    font-size: 16px;
    color: #022d4d;
}

form.destination-filter-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

form.destination-filter-form label {
    font-size: 16px;
    margin-right: 10px;
}

form.destination-filter-form select {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: whitesmoke;
    margin-right: 20px;
}

form.destination-filter-form button {
    background-color: #3498db;
    color: #fff;
    padding: 6px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form.destination-filter-form button:hover {
    background-color: #2980b9;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.step-links {
    display: flex;
    align-items: center;
}

.step-links a {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #022d4d;
    transition: background-color 0.2s ease-in-out;
}

.step-links a:hover {
    background-color: #f2f2f2;
}

.current {
    margin: 0 10px;
    font-weight: bold;
}

.step-links a:first-child,
.step-links a:last-child {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #022d4d;
    background-color: #f2f2f2;
    transition: background-color 0.2s ease-in-out;
}

.step-links a:first-child:hover,
.step-links a:last-child:hover {
    background-color: #e0e0e0;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.centered-content {
    text-align: center;
    max-width: 600px;
    padding: 10px;
    background-color: #b8e0c9;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(93, 115, 97, 0.31);
}

.introduction h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #022d4d;
}

.introduction p {
    font-size: 16px;
    margin: 0;
    color: #022d4d;
    text-align: center;
}

.introduction h2 {
    font-size: 20px;
    margin-top: 20px;
    color: #022d4d;
}

.photo_detail_image-container button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.photo_detail_image-container button:hover {
    background-color: #2980b9;
}

.photo_detail_image-container h2 {
    color: #022d4d;
    text-align: center;
}

.site-footer {
    background-color: #022d4d;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    border-radius: 15px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
}

.social-icon img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.site-footer p {
    font-size: 14px;
}
