{% extends 'base.html' %}
{% block content %}
    <div class="photo_detail_image-container">
        <img src="{{ photo.photo }}" alt="">
        <p>Location: {{ photo.location }} | Date of publication: {{ photo.date_of_publication }} |
            Author: {{ photo.uploaded_by }}</p>
        {% if tags %}
            <h3>Tagged destinations: </h3>
            {% for destination in tags %}
                <a href="{% url 'destination details' destination.slug %}">
                <p>{{ destination.name }}</p>
                </a>
            {% endfor %}
        {% endif %}
        <div class="comment-wrapper">
            <h3>Total comments: {{ comments.count }}</h3>
            <hr>
            {% for comment in comments %}
                <div>
                    <small>@{{ comment.comment_author }}, {{ comment.date_time_of_publication|timesince }}
                        ago</small>
                    <h4>{{ comment.text }}</h4>
                    <hr>
                </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <div class='photo_detail_page_add_comment-container'>
                <form action="" method="post">
                    {{ form }}
                    {% csrf_token %}

                    <input type="submit" value="Submit Comment">
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}