{% extends 'base.html' %}
{% block content %}
    <div class="photo_detail_image-container">
        <img src="{{ photo.photo }}" alt="">
        <p>Location: {{ photo.location }} | Date of publication: {{ photo.date_of_publication }} |
            Author: {{ photo.uploaded_by }}</p>

    </div>
    {% if user.is_authenticated %}
        <div class='photo_detail_page_add_comment-container'>
            <form action="" method="post">
                {{ form }}
                {% csrf_token %}

                <input type="submit" value="Submit Comment">
            </form>
        </div>
    {% endif %}

    <div>
        <p>Total comments: {{ comments.count }}</p>
        {% for comment in comments %}
            <p>from: {{ comment.comment_author }}  |  published: {{ comment.date_time_of_publication|timesince }} ago</p>
            <p>{{ comment.text }}</p>
        {% endfor %}
    </div>

{% endblock %}